<section id="recipe-list">
    <div class="search-bar-container">
        <div class="search-bar">
            <form action="/recipes/search" method="GET">
                <input type="text" id="search" name="search" placeholder="Search recipes..." {{#if isSearch}} value="{{filter.search}}" {{/if}}>
                <input type="submit" value="Search">
            </form>
        </div>
    </div>

    <h2>Recipes</h2>
    <div id="recipes">
        <!-- Recipe Cards -->
        {{#each recipes}}
        <div class="recipe-card">
            <a href="/recipes/{{_id}}/details">
                <img src="{{imageUrl}}" alt="{{title}}">
                <h3>{{title}}</h3>
            </a>
        </div>
        <!-- More recipes can be added here -->
        {{/each}}
    </div>
</section>